<div>
    <h1>Reactive Form</h1>
  <p>Form Status: {{ profileForm.status }}</p>
  <h3>Username is {{username.value}}</h3>
  <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name"
             class="form-control"
             type="text"
             formControlName="username"/>
      @if(username.invalid && (username.dirty || username.touched)){
      <div class="alert alert-danger">
       @if(username.hasError('required'))
        {
            <div>Name is required new way</div>
        }
        @if(username.hasError('minlength'))
        {
          <div> Name must be at least 4 characters long.</div>
        }
        @if(username.errors?.['startWithCapitalLetter'])
        {
           <div>Username must start with capital letter</div>
        }

        </div>
      }

    </div>
    <div class="form-group">
      <label for="email">email: </label>
      <input id="email"
             class="form-control"
             type="email"
             formControlName="email"/>
      @if(email.invalid && (email.dirty || email.touched)){
      <div class="alert alert-danger">
       @if(email.hasError('required'))
      {
      <div>Email is required </div>
      }
      @if(email.hasError('pattern'))
      {
      <div> Invalid email format.</div>
      }
      </div>
      }
    </div>
    <div class="form-group">
      <label></label>
      <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Submit</button>
    </div>
  </form>
  <div class="form-group">
    <label></label>
    <!--<button type="button" class="btn btn-primary" (click)="updateName()">Update Name</button>
    <button type="button" class="btn btn-primary" (click)="updateProfile()">Update Profile</button>-->
  </div>
</div>
