<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>





</style>

<main >

    Root Component
    <!--<app-hello-world/>
    <app-hello-world/>
    <app-hello-world/>-->
  <!--<app-list-item></app-list-item>
  <app-user-account/>
  <app-user-account/>-->
  <!--<app-todo-list/>-->
  <!--<app-greeting [msg]="'Hi from app component'"/>-->
  <!--<div [style.fontSize.px]="slideValue">
    Parent slideValue {{slideValue}}
  </div>
  <app-custom-slider [(value)]="slideValue" (valueChange)="valueOnChange()"/>-->
  <!--<app-greet [message]="'hello from Angular'"/>-->
  <!--<app-input-with-getter-setter [value]="100" data="Hello"/>-->
  <app-counter/>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
