<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>





</style>

<main >

    Root Component
    <!--<app-hello-world/>

    <app-hello-world/>-->
  <!--<app-list-item></app-list-item>
  <app-user-account/>
  <app-user-account/>-->

  <!--<app-greeting [msg]="'Hi from app component'"/>-->
  <div [style.fontSize.px]="slideValue">
    Parent slideValue {{slideValue}}
  </div>
  <app-custom-slider [(value)]="slideValue" (valueChange)="valueOnChange()"/>
  <!--<app-greet [message]="'hello from Angular'"/>-->
  <!--<app-input-with-getter-setter [value]="100" data="Hello"/>-->
 <!-- <app-counter/>-->
 <!-- <app-signal-immutable-demo/>-->
  <!--<app-signal-object/>-->
  <!--<app-signal-un-track/>-->

  <!--<app-content-demo>
      <h3>Child content</h3>
      <app-content-header></app-content-header>
      &lt;!&ndash;<app-todo-list/>&ndash;&gt;
  </app-content-demo>-->
  <!--<app-layout-demo>
      <div>
        This is body
        <p>Another line</p>
      </div>
      <app-layout-header></app-layout-header>
     &lt;!&ndash; <app-layout-footer></app-layout-footer>&ndash;&gt;
       <h3>Other item</h3>
  </app-layout-demo>-->
  <!--<app-host-element-demo/>-->
  <!--<app-life-cycle-demo/>
  <app-life-cycle-demo/>-->
  <!--<app-life-cycle-parent/>
  <app-todo-list/>-->
  <!--<app-view-child-demo/>-->
  <!--<app-tab [headers]="tabHeaders">
    <app-tab-page>
      <h1> Page1</h1>
    </app-tab-page>
    <app-tab-page>
      <h1> Page 2</h1>
    </app-tab-page>
    <app-tab-page>
      <h1> Page 3</h1>
    </app-tab-page>
  </app-tab>-->
  <!--<app-query-locator-demo></app-query-locator-demo>-->
  <!--<app-dom-demo/>-->
 <!-- <app-bio [user]="user"/>-->
 <!-- <app-outer-container/>-->
  <!--<app-lazy-loading-demo/>-->
  <!--<app-hello-world/>-->
 <!-- <app-binding/>-->
  <app-two-way-binding/>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
