<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>





</style>

<main >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home"
               routerLinkActive="active"
               aria-current="page" >Home</a>

          </li>
          @if(authService.isAuthenticated)
          {
            <li class="nav-item">
              <a class="nav-link"  routerLink="/todos" routerLinkActive="active">Todos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/nested-route" routerLinkActive="active">Nested Route</a>
            </li>
          }

          <li class="nav-item">
            <a class="nav-link"  routerLink="/lazy" routerLinkActive="active">Lazy </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

    <!--<app-hello-world/>

    <app-hello-world/>-->
  <!--<app-list-item></app-list-item>
  <app-user-account/>
  <app-user-account/>-->

  <!--<app-greeting [msg]="'Hi from app component'"/>-->
  <!--<div [style.fontSize.px]="slideValue">
    Parent slideValue {{slideValue}}
  </div>
  <app-custom-slider [(value)]="slideValue" (valueChange)="valueOnChange()"/>-->
  <!--<app-greet [message]="'hello from Angular'"/>-->
  <!--<app-input-with-getter-setter [value]="100" data="Hello"/>-->
 <!-- <app-counter/>-->
 <!-- <app-signal-immutable-demo/>-->
  <!--<app-signal-object/>-->
  <!--<app-signal-un-track/>-->

  <!--<app-content-demo>
      <h3>Child content</h3>
      <app-content-header></app-content-header>
      &lt;!&ndash;<app-todo-list/>&ndash;&gt;
  </app-content-demo>-->
  <!--<app-layout-demo>
      <div>
        This is body
        <p>Another line</p>
      </div>
      <app-layout-header></app-layout-header>
     &lt;!&ndash; <app-layout-footer></app-layout-footer>&ndash;&gt;
       <h3>Other item</h3>
  </app-layout-demo>-->
  <!--<app-host-element-demo/>-->
  <!--<app-life-cycle-demo/>
  <app-life-cycle-demo/>-->
  <!--<app-life-cycle-parent/>
  <app-todo-list/>-->
  <!--<app-view-child-demo/>-->
  <!--<app-tab [headers]="tabHeaders">
    <app-tab-page>
      <h1> Page1</h1>
    </app-tab-page>
    <app-tab-page>
      <h1> Page 2</h1>
    </app-tab-page>
    <app-tab-page>
      <h1> Page 3</h1>
    </app-tab-page>
  </app-tab>-->
  <!--<app-query-locator-demo></app-query-locator-demo>-->
  <!--<app-dom-demo/>-->
 <!-- <app-bio [user]="user"/>-->
 <!-- <app-outer-container/>-->
<!--  <app-lazy-loading-demo/>-->
  <!--<app-hello-world/>-->
 <!-- <app-binding/>-->
  <!--<app-two-way-binding/>-->
  <!--<app-control-flow/>-->
  <!--<app-render-loop/>-->
  <!--<app-switch-demo/>-->
  <!--<app-pipe-demo/>-->
  <!--<button app-base-button>
    Next <span class="icon arrow-right" ></span>
  </button>-->
  <!--<app-ng-template-demo></app-ng-template-demo>-->
  <!--<app-custom-tab [headers]="tabHeaders">
    <app-custom-tab-page>
        One
    </app-custom-tab-page>
    <app-custom-tab-page>
      Two
    </app-custom-tab-page>
    <app-custom-tab-page>
      Three
    </app-custom-tab-page>
  </app-custom-tab>-->
  <!--<app-template-variable-demo/>-->
  <!--<app-defer-demo/>-->
  <!--<app-if-demo appHighlight/>
  <p appHighlight="blue">Highlight me!</p>
  <h1 appHighlight="green">Highlight me h1!</h1>-->
 <!-- <app-unless-demo/>-->
  <!--<app-times-demo/>-->
  <!--<app-di-demo>

  </app-di-demo>
  <app-di-demo-two></app-di-demo-two>-->
<!--  <h1>Hello main</h1>-->
  <app-reactive-form-demo/>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
