<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          @if(authService.isAuthenticated())
          {
            <li class="nav-item">
              <a class="nav-link"  routerLink="/home"
                 routerLinkActive="active"
                 aria-current="page" >Home</a>

            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/movies" routerLinkActive="active">Movies </a>
            </li>
           <!-- <li class="nav-item">
              <a class="nav-link"  routerLink="/movies-count" routerLinkActive="active">Movies Count </a>
            </li>-->
           <li class="nav-item">
            <a class="nav-link"  routerLink="/logout" routerLinkActive="active">Logout</a>
          </li>
          }
          @if(!authService.isAuthenticated())
          {

            <li class="nav-item">
              <a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a>
            </li>
          }




        </ul>

      </div>
    </div>
  </nav>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
