<div>
  Template form demo
  <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name"
             class="form-control"
             type="text"
             [(ngModel)]="model.name"
             name="name"
             required
             #name="ngModel"
             >
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="skill">Skill: </label>

      <select class="form-control"
              id="skill"
              name="skill"
              [(ngModel)]="model.skill"
              #skill="ngModel">
        <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
        <div [hidden]="skill.valid || skill.pristine"
             class="alert alert-danger">
          Skill is required
        </div>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Studio: </label>
      <input id="studio"
             class="form-control"
             type="text"
             [(ngModel)]="model.studio"
             name="studio"
      >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success"
              [disabled]="!actorForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default"
              (click)="newActor(); actorForm.reset()">New Actor</button>
    </div>
  </form>
</div>
