<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	  <header th:insert="~{/fragments/header.html}"> </header>
 <body>
  
	<a class="btn btn-primary" th:href="@{/books/new}">
		New Book
	</a>
	<table class="table table-stripped">
	    	<thead>
				<tr> 
					<th>ID</th>
					<th>Title</th>
					<th>Author</th> 
					<th>Action</th> 
				</tr>
			</thead>
			<tbody>
				<th:block th:each="book : ${books}">
					<tr>
						<td th:text="${book.id}"></td>
						<td th:text="${book.title}"></td> 
						<td th:text="${book.author}"></td>
						<td>
						
							<a class="btn btn-primary" th:href="@{/books/edit/{id}(id=${book.id})}">
								Edit
							</a>	
							&nbsp;
							<a class="btn btn-primary" th:href="@{/books/delete/{id}(id=${book.id})}">
								Delete
							</a>	
						</td>
					</tr>
				</th:block>
			</tbody>
	    </table>
	    
	  </body>
  </body>
</html>