<div class="movie-container">
  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/movie-poster-template-design-21a1c803fe4ff4b858de24f5c91ec57f_screen.jpg?ts=1636996180"
      width="100"
      height="150"/>
  <h3> Title {{movie().name}}</h3>
  <div> Year {{movie().year}}</div>
  <div> Director {{movie().director}}</div>

  &nbsp;
  <button type="button" class="btn btn-primary" (click)="deleteMovie()">Delete</button>
  &nbsp;&nbsp;
  @if(showDetails())
  {
  <button type="button" class="btn btn-primary" (click)="gotoDetails()">Details</button>
  &nbsp;
  }
</div>
